/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color: #f2f2f2;
    color: #2b2b2b;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Navigation in the header */
.page-header {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 80px;
    flex: 0 1 80px;
}

.page-header__item:last-child {
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
    padding: 0;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
}

/* !!!!!!! Isnot vorking, why? */
.navigation-list__item--active {
    text-decoration: underline;
}

h1 {
    color: #357b70;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 700;
}

h2 {
    color: #357b70;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

a {
    color: #357b70;

}


/* Is this a:visited absolutely necessary? */
/* a:visited {
    visited link
    color: #05676e;
} */

a:hover,
a:focus {
    text-decoration: none;
}



/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! 
I don't understend where is the code, which brings text-decoration overline and underline
I don't understend where is the code which works for hover/focus for links*/
.navigation-list a {
    text-decoration: none;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.navigation-list a:before {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #357b70;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navigation-list a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #357b70;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.navigation-list a:before {
    top: -5px;
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
}

.navigation-list a:after {
    bottom: -5px;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.navigation-list a:hover:before,
.navigation-list a:hover:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

.profile {
    max-width: 700px;
    margin: 0 auto;
}

.profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    height: auto;
    border-radius: 50%;
}

button {
    border: none;
    font-family: inherit;
    font-size: 13.33px;
    background-color: #357b70;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s opacity ease-in-out, 0.2s font-size ease-in-out;
    -o-transition: 0.2s opacity ease-in-out, 0.2s font-size ease-in-out;
    transition: 0.2s opacity ease-in-out, 0.2s font-size ease-in-out;
}

.button_cv {
    border: none;
    font-family: inherit;
    font-size: 13.33px;
    background-color: #357b70;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s opacity ease-in-out, 0.2s font-size ease-in-out;
    -o-transition: 0.2s opacity ease-in-out, 0.2s font-size ease-in-out;
    transition: 0.2s opacity ease-in-out, 0.2s font-size ease-in-out;
}

button:hover,
button:focus,
.button_cv:hover,
.button_cv:focus {
    cursor: pointer;
    opacity: 0.9;
    font-size: 15.5px;
}

.button_secondary {
    background-color: #e0b354;
    color: #2b2b2b
}

.button_cv {
    font-size: 13.33px;
}

/* To get rid of this part of code i need to deactivate a:visited */
.button_cv:visited {
    color: #fff;
}

.button_cv:active {
    color: #fff;
}

form {
    margin-top: 55px;
}

.project-list__item {
    display: inline-block;
    width: 33%;
}

@supports (display: grid) {
    .project-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0;
    }

    .project-list__item {
        background-color: #fcf3e0;
        padding: 15px;
        width: auto;
        height: auto;
        margin: 0;
    }

    .project-list__item:last-child {
        -ms-grid-column: 3;
        grid-column: 3 / 3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1 / 3;
    }
}


@media all and (max-width: 805px) {
    .project-list {
        grid-gap: 10px;
    }

    .project-list__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 19px;
    }

    body {
        font-size: 14px;
    }
}

@media all and (max-width: 500px) {
    .project-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 805px) {
    .project-list {
        -ms-grid-columns: 1fr 10px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@-webkit-keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #fcffad;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    -webkit-animation: 4s color-change infinite alternate linear;
    animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px);
    }

    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
        transform: translate(0, 50px);
    }

    to {
        -webkit-transform: translate(200px, 50px);
        transform: translate(200px, 50px);
    }
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }

    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
        transform: translate(446px, 48px);
    }

    to {
        -webkit-transform: translate(100px, 48px);
        transform: translate(100px, 48px);
    }
}



.cloud-front {
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
    -webkit-animation-name: cloud-move;
    animation-name: cloud-move;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.cloud-back {
    -webkit-animation-duration: 36s;
    animation-duration: 36s;
    -webkit-animation-name: cloud-move-reverse;
    animation-name: cloud-move-reverse;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin-top: 55px;
}

.page-footer a {
    text-decoration: none;
    margin: 0 10px;
}

/* Tests HTML and CSS only for testing technics in exercises. Must be deleted before deployment */